<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SOCY_MIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionFile" value="DBConnection.xml" />
    <add key="SOCY_MIS" value="Data Source=(local)\MSSQLSERVER2012;Initial Catalog=SOCY_MIS;User Id=sa;Password=c0nstella;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ImageFolder" value="Images" />
    <add key="ImportDataFolder" value="ImportedData" />
    <add key="Version" value="3.6" />
    <add key="NoDatabase" value="false" />
    <add key="BlankOfficeEdit" value="false" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <SOCY_MIS.Properties.Settings>
      <setting name="SOCY_MIS_SOCY_WS_SOCY_WS" serializeAs="String">
      <value>https://esocy.crs.org/SOCY_WS.asmx</value>
        <!--<value>http://localhost:53694/SOCY_WS.asmx</value>-->
      </setting>
    </SOCY_MIS.Properties.Settings>
  </applicationSettings>
</configuration>